body{
color: greenyellow;
background-color: black;
padding: 20px;
line-height: 1,6;
}

h1, h2, h3{
    margin: 10px 0;
    font-weight: 700;
}

.selo{
    background-color: darkviolet;
    color: red;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 12px;
}

.destaque{
    font-weight: 700
    color: pink;
    margin:10px;
}